<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <filter>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.itheima.redbaby.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.itheima.redbaby.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchRecommend</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.SearchRecommend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.Search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TopicServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.TopicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BrandServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.BrandServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LimitbuyServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.LimitbuyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewProductServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.NewProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HotProductServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.HotProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TopicListServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.TopicListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BrandListServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.BrandListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>/category</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryProductListServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.CategoryProductListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CollectServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.CollectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartDataSessionServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.CartDataSessionServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.CheckoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InvoiceServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.InvoiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserinfoServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.UserinfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.ActiveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VersionServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.VersionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FavoritesServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.FavoritesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.OrderListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderDetailServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.OrderDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderCancelServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.OrderCancelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogisticsServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.LogisticsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddressListServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.AddressListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddressAreaServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.AddressAreaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AaddressSaveServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.AaddressSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddressDefaultServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.AddressDefaultServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddressDeleteServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.AddressDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelpServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.HelpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelpDetailServlet</servlet-name>
    <servlet-class>com.itheima.redbaby.servlet.HelpDetailServlet</servlet-class>
  </servlet>
  
    <servlet>
  		<servlet-name>OrderForSubmitServlet</servlet-name>
      <servlet-class>com.itheima.redbaby.servlet.OrderForSubmitServlet</servlet-class>
    </servlet>
  <servlet-mapping>
   	 <servlet-name>OrderForSubmitServlet</servlet-name>
   	 <url-pattern>/ordersumbit</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchRecommend</servlet-name>
    <url-pattern>/search/recommend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TopicServlet</servlet-name>
    <url-pattern>/topic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrandServlet</servlet-name>
    <url-pattern>/brand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LimitbuyServlet</servlet-name>
    <url-pattern>/limitbuy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewProductServlet</servlet-name>
    <url-pattern>/newproduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HotProductServlet</servlet-name>
    <url-pattern>/hotproduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TopicListServlet</servlet-name>
    <url-pattern>/topic/plist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrandListServlet</servlet-name>
    <url-pattern>/brand/plist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>/category</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryProductListServlet</servlet-name>
    <url-pattern>/productlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/product/comment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectServlet</servlet-name>
    <url-pattern>/product/collect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartDataSessionServlet</servlet-name>
    <url-pattern>/cartdatasession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InvoiceServlet</servlet-name>
    <url-pattern>/invoice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UserinfoServlet</servlet-name>
    <url-pattern>/userinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/active</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VersionServlet</servlet-name>
    <url-pattern>/version</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FavoritesServlet</servlet-name>
    <url-pattern>/favorites</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/orderlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDetailServlet</servlet-name>
    <url-pattern>/orderdetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderCancelServlet</servlet-name>
    <url-pattern>/ordercancel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogisticsServlet</servlet-name>
    <url-pattern>/logistics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressListServlet</servlet-name>
    <url-pattern>/addresslist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressAreaServlet</servlet-name>
    <url-pattern>/addressarea</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AaddressSaveServlet</servlet-name>
    <url-pattern>/addresssave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressDefaultServlet</servlet-name>
    <url-pattern>/addressdefault</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressDeleteServlet</servlet-name>
    <url-pattern>/addressdelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelpServlet</servlet-name>
    <url-pattern>/help</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelpDetailServlet</servlet-name>
    <url-pattern>/help_detail</url-pattern>
  </servlet-mapping>
  <!-- 根据商品id获得商品信息 -->  
   <servlet>
    <servlet-name>ProductServlet2</servlet-name>
    <servlet-class>yu.service.servlet.ProductServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>ProductServlet2</servlet-name>
    <url-pattern>/product2</url-pattern>
  </servlet-mapping>
   <!-- 获取商城首页商品列表 -->  
   <servlet>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>yu.service.servlet.ShopProductsList</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productList</url-pattern>
  </servlet-mapping>
  
  <!-- 获取商城详情 -->  
   <servlet>
    <servlet-name>ShopDetailServlet</servlet-name>
    <servlet-class>yu.service.servlet.ProductsDetail</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>ShopDetailServlet</servlet-name>
    <url-pattern>/ShopDetail</url-pattern>
  </servlet-mapping>
   <!-- 加入到购物车-->  
   <servlet>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>yu.service.servlet.AddToCartServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  
  <!-- 购物车-->  
   <servlet>
    <servlet-name>ShowCartServlet</servlet-name>
    <servlet-class>yu.service.servlet.ShowShopcart</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>ShowCartServlet</servlet-name>
    <url-pattern>/ShowCart</url-pattern>
  </servlet-mapping>
   <!-- 删除购物车物品-->  
   <servlet>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>yu.service.servlet.DeleteCart</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/DeleteCart</url-pattern>
  </servlet-mapping>
   <!-- 用户登录-->  
   <servlet>
    <servlet-name>UserLonginServlet</servlet-name>
    <servlet-class>yu.service.servlet.UserLoginServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>UserLonginServlet</servlet-name>
    <url-pattern>/UserLongin</url-pattern>
  </servlet-mapping>
  <!-- 用户注册-->  
   <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>yu.service.servlet.RegisterServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <!-- 收货地址-->  
   <servlet>
    <servlet-name>OrderFormServlet</servlet-name>
    <servlet-class>yu.service.servlet.OrderFormServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>OrderFormServlet</servlet-name>
    <url-pattern>/OrderForm</url-pattern>
  </servlet-mapping>
  <!-- 设置默认收货地址-->  
   <servlet>
    <servlet-name>SetDefaultAdressServlet</servlet-name>
    <servlet-class>yu.service.servlet.SetDefaultAdressServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>SetDefaultAdressServlet</servlet-name>
    <url-pattern>/SetDefaultAdress</url-pattern>
  </servlet-mapping>
  <!-- 得到默认收货地址-->  
   <servlet>
    <servlet-name>DefaultAdressServlet</servlet-name>
    <servlet-class>yu.service.servlet.DefaultAdressServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>DefaultAdressServlet</servlet-name>
    <url-pattern>/DefaultAdress</url-pattern>
  </servlet-mapping>
  <!-- 得到默认收货地址-->  
   <servlet>
    <servlet-name>UpdateAdressServlet</servlet-name>
    <servlet-class>yu.service.servlet.UpdateAdressServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>UpdateAdressServlet</servlet-name>
    <url-pattern>/UpdateAdress</url-pattern>
  </servlet-mapping>
  <!-- 新建默认收货地址-->  
  <servlet>
    <servlet-name>CreateAdressServlet</servlet-name>
    <servlet-class>yu.service.servlet.CreateAdressServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>CreateAdressServlet</servlet-name>
    <url-pattern>/CreateAdress</url-pattern>
  </servlet-mapping>
  <!-- 提交订单-->  
  <servlet>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>yu.service.servlet.CreateOrderServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/CreateOrder</url-pattern>
  </servlet-mapping>
  <!-- 未支付订单-->  
  <servlet>
    <servlet-name>GetNotPayServlet</servlet-name>
    <servlet-class>yu.service.servlet.GetNotPayServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>GetNotPayServlet</servlet-name>
    <url-pattern>/GetNotPay</url-pattern>
  </servlet-mapping>
  <!-- 取消订单-->  
  <servlet>
    <servlet-name>CancelOrderServlet</servlet-name>
    <servlet-class>yu.service.servlet.CancelOrderServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>CancelOrderServlet</servlet-name>
    <url-pattern>/CancelOrder</url-pattern>
  </servlet-mapping>
  <!-- 查看未付款订单-->  
  <servlet>
    <servlet-name>GetNotPayServlet2</servlet-name>
    <servlet-class>yu.service.servlet.GetNotPayServlet2</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>GetNotPayServlet2</servlet-name>
    <url-pattern>/GetNotPay2</url-pattern>
  </servlet-mapping>
  <!-- 查看未付款订单-->  
  <servlet>
    <servlet-name>SubmitApplyServlet</servlet-name>
    <servlet-class>yu.service.servlet.SubmitApplyServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>SubmitApplyServlet</servlet-name>
    <url-pattern>/SubmitApply</url-pattern>
  </servlet-mapping>
  <!-- 查看商品分类-->  
  <servlet>
    <servlet-name>GetShopSortListServlet</servlet-name>
    <servlet-class>yu.service.servlet.GetShopSortListServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>GetShopSortListServlet</servlet-name>
    <url-pattern>/GetShopSortList</url-pattern>
  </servlet-mapping>
  <!-- 商品搜索 -->
  <servlet>
    <servlet-name>GetSearchResult</servlet-name>
    <servlet-class>yu.service.servlet.GetSearchResult</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>GetSearchResult</servlet-name>
    <url-pattern>/GetSearchResult</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>